<header>
    <div class="wrapper">
        <div class="row">
            <div class="title_home">
                <h1>Стартер для GULP-SmartGrid 2022!!</h1>
            </div>
        </div>
    </div>
</header>